.hotel-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.carousel-wrapper{
    display: flex;
    justify-content: center;
}

.info-container{
    width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
.hotel-title{
    line-height: 15px;
}
.hotel-title h1{
    color :#FF6060;
}
.location{
    font-size: 18px;
    font-weight: 500;
}
.tags{
    display: flex;
    gap: 15px;
}
.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.host-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.host{
    display: flex;
    align-items: center;
}
.host-name{
    color :#FF6060;
    font-size: 18px;
    font-weight: 500;
    white-space: break-spaces;
    word-wrap: break-word;
    max-width: 80px;
}

.host img{
    width :64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.rate{
    display: flex;
    gap: 10px;
}
.star{
    height: 20px;
    width: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 50px;
    width: 1240px;
}

ul{
    list-style-type: none;
    padding-left: 15px;
}

@media screen and (max-width : 600px) {
    
    .info-container {
        width: 335px;
        padding: 0px;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
    }

    .caption {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    .hotel-title {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
    }
    .hotel-title h1{
        font-size: 18px;
        font-weight: 500;
        width: 250px;
        
    }
    .location{
        font-size: 14px;
        font-weight: 500;
        margin: 0px;
    }
    .tags-rate {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .tags {
        flex-direction: row;
        gap: 5px;
    }
    .tag{
        width: 84px;
        height: 18px;
        font-size: 10px;
        font-weight: 700;
    }
    .host-description{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
    }
    .host {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .host-name{
        font-size: 12px;
        font-weight: 500;
        max-width: 40px;
    }
    .host img{
        width: 32px;
        height: 32px;
    }
    .rate{
        gap: 5px;
    }
    .container {
        flex-direction: column;
        gap: 25px;
        align-items: center;
        margin-top: 25px;
        width : 335px
    }
    .star{
        width: 13px;
        height: 13px;
    }
}