.carousel-container{
    width: 1240px;
    height: 415px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-top : 50px;
    border-radius: 25px;
}

.prev, .next {
    width: 54px;
    height: 54px;
    cursor: pointer;
    position: absolute;
}
.prev{
    left : 0;
}

.next{
    right : 0;
}

.carousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width : 600px) {
    .carousel-container{
        width: 335px;
        height: 255px;
        margin-top: 25px;
    }
    .prev, .next{
        width: 24px;
        height: 24px;
    }
}