.hotel-cards-container{
    width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    border-radius: 25px;
    gap: 50px;
    padding-top: 25px;
    margin-top: 50px;
    overflow: hidden;
}

@media screen and (max-width : 600px) {
    .hotel-cards-container{
        width : 100%;
        background-color: none;
        border: 0px;
        gap : 25px;
        padding-top: 0px;
        margin-top: 25px;
    }
}