.error-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
}

.error{
    color: #FF6060;
    font-size: 288px;
}

.error-message{
    font-size: 36px;
    color: #FF6060;
}

.link-home{
    text-decoration: none;
    color: black;
}

.link-home:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .error{
        font-size: 96px;
        font-weight: 700;
    }
    .error-message{
        font-size: 18px;
        font-weight: 500;
        max-width: 200px;
        line-height: 29px;
    }
    .error-page{
        gap: 50px;
    }
    .link-home{
        text-decoration: underline;
    }
}